*, /*init added*/
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

header {
  height: 6rem;
  background-color: #04838f;
  color: #ffffffff;
  font-size: 20px;
}

footer {
  height: 6rem;
  background-color: #04838f;
  color: #ffffffff;
  font-size: 20px;
  margin-top: 3rem;
}
